Package: spoofdpi
Version:
Depends: dtach
Source: feeds/packages/net/spoofdpi
SourceName: spoofdpi
License: GPL-2.0-or-later
LicenseFiles: COPYING
Section: net
URL: https://github.com/xvzc/SpoofDPI
Maintainer: gray1717 <https://github.com/gray1717/spoofDPI_to_router>
Architecture:
Installed-Size:
Description: A simple and fast software designed to bypass Deep Packet Inspection
